{{#if Success_Message}}
   <div class="alert alert-success">
      {{Success_Message}}
   </div>
{{/if}}

{{#if Delete_Message}}
   <div class="alert alert-danger">
      {{Delete_Message}}
   </div>
{{/if}}

{{#if Update_Message}}
   <div class="alert alert-danger">
      {{Update_Message}}
   </div>
{{/if}}