{{#if Success_Message}}
   <div class="alert alert-success">
      {{Success_Message}}
   </div>
{{/if}}

{{#if error_message}}
   <div class="alert alert-danger">
      {{error_message}}
   </div>
{{/if}}